{% extends "base.html" %}
{% load static %}
{% block head_style %}
<link rel="stylesheet" href="{% static 'school_admin/css/perfumes.css'%}">
{% endblock %}

{% block body_content %}
<main class="container py-4">
  <div class="row align-items-start">
    <div class="col-md-6 perfume-image mb-4 mb-md-0">
      <img src="https://fimgs.net/mdimg/perfume-thumbs/375x500{{ perfume.image }}" alt="{{ perfume.name}} " class="img-fluid rounded shadow-sm">
    </div>

    <div class="col-md-6 perfume-details">
      <h5 class="text-secondary fw-semibold">{{ perfume.brand }}</h5>
      <h2 class="fw-bold mb-4">{{ perfume.name }}</h2>

      {% if is_dict %}
        <h6 class="fw-semibold">Top Notes:</h6>
        <ul class="mb-3 list-group list-group-flush">
          {% for item in perfume.notes.top %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>

        <h6 class="fw-semibold">Middle Notes:</h6>
        <ul class="mb-3 list-group list-group-flush">
          {% for item in perfume.notes.middle %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>

        <h6 class="fw-semibold">Base Notes:</h6>
        <ul class="mb-3 list-group list-group-flush">
          {% for item in perfume.notes.base %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>

      {% else %}
        <h5 class="fw-semibold">Notes:</h5>
        <ul class="list-group list-group-flush">
          {% for item in perfume.notes %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
