{% extends "base.html" %}
{% load static %}
{% block head_style %}

<link rel="stylesheet" href="{% static 'perfume_app/css/perfume_detail.css'%}">
{% endblock %}

{% block body_content %}
<main class="container py-4">
  <div class="row align-items-start">
    <div class="col-md-6 perfume-image mb-4 mb-md-0">
      <img src="https://fimgs.net/mdimg/perfume-thumbs/375x500{{ perfume.image }}" alt="{{ perfume.name}} " class="img-fluid rounded shadow-sm">
    </div>

    <div class="col-md-6">
      <h5 class="brand">{{ perfume.brand }}</h5>
      <h2 class="perfume-name">{{ perfume.name }}</h2>

      {% if is_dict %}
        <h6 class="notes-subtitle">Top Notes:</h6>
        <ul class="notes-details">
          {% for item in perfume.notes.top %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>

        <h6 class="notes-subtitle">Middle Notes:</h6>
        <ul class="notes-details">
          {% for item in perfume.notes.middle %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>

        <h6 class="notes-subtitle">Base Notes:</h6>
        <ul class="notes-details">
          {% for item in perfume.notes.base %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>

      {% else %}
        <h5 class="notes-subtitle">Notes:</h5>
        <ul class="notes-details">
          {% for item in perfume.notes %}
            <li class="list-group-item p-1 ps-0">{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
